<%- include('partials/header.ejs'); -%>

<form class="tab-view tab-view-height-auto" action="/user" method="post">
    <% members.forEach(function(user) { %>
        <input type="submit" name="user" value="<%=user.id%>" id="<%=user.id %>">
        <label for="<%= user.id %>" style="background-color: <%= user.color %>;">
            <%= user.name %>
        </label>
    <% }); %>

    <input type="submit" name="add" value="new" id="tab">
    <label for="tab">Add Family Member</label>
</form>

<div id="titleSection" class="mainSection">
    <h1>
        <%= mainTitle %>
    </h1>
</div>

<div  class="mainSection">
        <%for(let book of listBooks) { %>
            <div class="book">
                <form action="/delete" method="post">
                    <input type="checkbox" onchange="this.form.submit()" name="deleteBooksId" value="<%= book.id %>">
                </form>

                <p id="title<%=book.id%>">
                    <%= book.title %>
                </p>
                
                <form class="edit" action="/edit" method="post">
                    <input type="hidden" name="updatedBookId" value="<%= book.id %>">
                    <input id="input<%=book.id%>" type="text" name="updatedBookTitle" value="<%= book.book_name %>" autocomplete="off"
                        autofocus="true" hidden="true" />
              
                    <button id="done<%=book.id%>" class="edit" type="submit" hidden><img class="icon"
                        src="/assets/icons/check-solid.svg" alt="tick image"></button>
                </form>
              
                <button id="edit<%=book.id%>" class="edit" onclick="handler('<%=book.id%>')"><img class="icon"
                    src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>

            </div>
        <% } %>

        <form class="book" action="/add" method="post">
            <input type="text" name="newBook" plceholder="Book Title" autocomplete="on" autofocus="true">
            <button class="add" type="submit" name="list" value=<%=mainTitle %> >+</button>
        </form>
</div>

<script>
    function handler(id) {
        document.getElementById("title" + id).setAttribute("hidden", true)
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
    }
</script>
<%- include('partials/footer.ejs'); -%>